{% if app.session.flashBag.has('notice') %}
    <div class="alert alert-primary" role="alert">
        {% for msg in app.session.flashBag.get('notice') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success" role="alert">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{% if app.session.flashBag.has('warning') %}
    <div class="alert alert-danger" role="alert">
        {% for msg in app.session.flashBag.get('warning') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{#
TODO - À retirer - Utiliser plutot UsercheckerInterface
#}
{% if app.user and app.user.isActivated != 1 %}
    <div class="alert alert-info" role="alert">
        Ton compte n'es toujours pas activé... Regarde bien tes mails !
    </div>
{% endif %}