<footer class="footer bg-dark navbar-dark mt-5 py-3 bg-light text-center ">
    <div class="container d-flex justify-content-between">
        <span class="link-light">SnowTricks - Tous droits réservés</span>
        <div class="d-flex justify-content-between">
            <a href="#" class="me-2 link-light">Politique de confidentialité</a>
            <a href="#" class="link-light">Mentions légales</a>
        </div>
    </div>
</footer>