{% apply inline_css(source('@styles/bootstrap.min.css')) %}
    <h1>Pas de panique {{ user.username }}</h1>

    <p>
        Tu vas pouvoir créer un nouveau mot de passe en cliquant sur le lien suivant :<br>
        <a href="{{ url|raw }}">{{ url|raw }}</a>
    </p>

    <h2>Que faire si tu n'as pas fait cette demande ?</h2>
    <p>Rien. Ca va, c'est simple.</p>


    <p>L'équipe de SnowTricks.</p>
{% endapply %}